<!DOCTYPE html>
<html>
<head>
  <title>Contact Page</title>

</head>
<body> 

<h1>How to reach us</h1>

<%= "Message from controller :
#{@controller_message}" %>

<% #if in same controller, you can omit controller line %>
<%= link_to("Go to Index",
  {:controller => 'welcome',
     :action => 'index'
  }) %>

<%= link_to("Go to Help",
  {:controller => 'welcome',
     :action => 'help'
  }) %>


</body>
</html>

